.home {
    margin: auto;
}
@media screen and (min-width: 975px) {
    div.home {
      width: 75%;
      padding-bottom: 50px;
    }
  }
 @media screen and (max-width: 974px) {
    div.home {
      width: 90%;
    }
}
.post-link {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 30px;
}
.post-link:hover {
    background-color: #16161d;
    border-left: 2px solid #16161d;
    color: #eff0d2;
    border-right: 2px solid #16161d
}
@media screen and (max-width: 974px) {
    a.excerpt {
      font-size: 15px;
      width: 45%;
    }
}
.numberpage {
    color: rgb(73, 73, 73);
    font-family: 'Bebas Neue', cursive;
}
.numberpage:hover {
    color: #f89fb2;
}
.currentnumberpage {
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
}
.prev {
    color: rgb(73, 73, 73);
    font-family: 'Bebas Neue', cursive;
}
.prev:hover {
    color: darkorange;
}
.next {
    color: rgb(73, 73, 73);
    font-family: 'Bebas Neue', cursive;
}
.next:hover {
    color: lightskyblue;
}