@media screen and (min-width: 975px) {
    div.blogposts {
      width: 75%;
    }
  }
 @media screen and (max-width: 974px) {
    div.blogposts {
      width: 90%;
    }
}
.blogposts {
    margin: auto;
    font-family: 'Rokkitt', serif;
}
.posttitles {
    font-family: 'Rokkitt', serif;
    margin: auto;
    font-weight: bolder;
    padding-bottom: 15px;
}
@media screen and (min-width: 975px) {
    div.posttitles {
      font-size: 45px;
    }
  }
@media screen and (max-width: 974px) {
    div.posttitles {
      font-size: 20px;
    }
}
.posttag {
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
}
.postdate {
    margin-top: -5px;
    font-size: 15px;
    font-weight: bold;
}
.blogsections {
    font-family: 'Rokkitt', serif;
}